<form
  class="form-horizontal"
  autocomplete="off"
  #editBookForm="ngForm"
  (ngSubmit)="save()">

  <!-- Modal Header -->
  <abp-modal-header
    [title]="'EditBook' | localize"
    (onCloseClick)="bsModalRef.hide()">
  </abp-modal-header>

  <div class="modal-body">

    <!-- Name -->
    <div class="form-group row required">

      <label
        class="col-md-3 col-form-label"
        for="name">

        {{ 'Name' | localize }}

      </label>

      <div class="col-md-9">

        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          required
          minlength="2"
          maxlength="100"
          [(ngModel)]="book.name"
          #nameModel="ngModel"
          #nameEl />

        <abp-validation-summary
          [control]="nameModel"
          [controlEl]="nameEl">
        </abp-validation-summary>

      </div>

    </div>

    <!-- Author -->
    <div class="form-group row required">

      <label
        class="col-md-3 col-form-label"
        for="author">

        {{ 'Author' | localize }}

      </label>

      <div class="col-md-9">

        <input
          type="text"
          class="form-control"
          name="author"
          id="author"
          required
          minlength="2"
          maxlength="100"
          [(ngModel)]="book.author"
          #authorModel="ngModel"
          #authorEl />

        <abp-validation-summary
          [control]="authorModel"
          [controlEl]="authorEl">
        </abp-validation-summary>

      </div>

    </div>

    <!-- Price -->
    <div class="form-group row required">

      <label
        class="col-md-3 col-form-label"
        for="price">

        {{ 'Price' | localize }}

      </label>

      <div class="col-md-9">

        <input
          type="number"
          class="form-control"
          name="price"
          id="price"
          required
          min="0"
          [(ngModel)]="book.price"
          #priceModel="ngModel"
          #priceEl />

        <abp-validation-summary
          [control]="priceModel"
          [controlEl]="priceEl">
        </abp-validation-summary>

      </div>

    </div>

  </div>

  <!-- Modal Footer -->
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editBookForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()">
  </abp-modal-footer>

</form>